{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Job Prep Assistant</h1>
    <p class="lead">Your one-stop solution for job preparation and career advancement.</p>
    <hr class="my-4">
    <p>Get started by registering or logging in to access all features.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}" role="button">Register</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.login') }}" role="button">Login</a>
    </p>
</div>
{% endblock %} 